<% provide(:title, 'Home') %>

<div class="jumbotron">
  <p class="lead">Find something to do.</p>
  <p><%= link_to "Find Activities", '#', class: 'btn btn-lg btn-blue' %></p>
  <p class="lead">Share something to do.</p>
  <p><%= link_to "Add Activities", '#', class: 'btn btn-lg btn-orange' %></p>
</div>
<div class="center">
  <%= image_tag "ow_bg.png", class: 'logo center' %>
</div>